 <main>
        <div class="container">
            <div class="employee-card" *ngFor="let user of employeedisplay">
                <h2>ID: {{user.id}}</h2>
                <div class="card-body">
                    <p><strong>Full Name:</strong> {{user.fullName}}</p>
                    <p><strong>Gender:</strong> {{user.gender}}</p>
                    <p><strong>Date of Birth:</strong> {{user.dob}}</p>
                    <p><strong>Email:</strong> {{user.email}}</p>
                    <p><strong>Phone:</strong> {{user.phone}}</p>
                    <p><strong>Hometown:</strong> {{user.hometown}}</p>
                    <p><strong>Position:</strong> {{user.position}}</p>
                    <p><strong>Department:</strong> {{user.department}}</p>
                    <p><strong>Role:</strong> {{user.Role}}</p>
                </div>
            </div>
        </div>
    </main> 